* { margin: 0; padding: 10; }
body { font-family: 'Verdana', sans-serif; }
div.op { font-size: 1.2em; font-weight: 600; }
ol.replies { list-style: none; }
.replies li {
  padding: 10px;
  border: 1px solid #454545;
  background: #E7E7E7;
  width: 80%;
  margin: 10px 0 10px 5%;
}

.ui-state-default { color: white; }
body { background: #75B2DD; }
body > div { max-width: 960px; margin: 20px auto; }

input[type='text'] { margin-left: 15%; padding: 10px; font-size: 1.3em; border: 1px solid #C6C6C6; width: 70%; }
input[type='submit'] { padding: 8px; font-size: 1.3em; border: none; }
form { margin-bottom: 20px; margin-right: 5%;}
