body {
  margin: 0px;
  padding: 0px;
}
#header {
  background: #0f0;
  width: 100%;
}
#leftcol {
  background: #f00;
  float: left;
  width: 19%;
  height: 500px;
}
#content {
  background-color:#0000;
  float: right;
  width: 80%;
  height: 500px;
}
#footer {
  background: #0f0;
  clear: both;
  width: 100%;
}
