<html><head>
<title>
Expand
</title>
<link rel=stylesheet href="" type="text/css" />
<script type="text/javascript" src=""></script>
</head>
<body>
<form action="" method="post">
<input type="text" name="message" />
<input type="submit" value="submit" />
</form>	
<div id="$post.post_id" class="post">
		$post.message
		#for $i in $range($len($post.replies)):
		<div id="#${post}_${i}" class="replies">
			$post.replies[$i]
		</div>
		#end for		
	</div>
</body></html>