<html>
<head>
<title>
Welcome
</title>

<link rel=stylesheet href="" type="text/css" />
<script type="text/javascript" src=""></script>

</head>
<body>
<form action="" method="post">
<input type="text" name="message" />
<input type="submit" value="submit" />
</form>
#for $post in $posts:
	<div id="$post.post_id" class="post">
		$post.message
		<a href="/expand/$post.post_id">
			Replies: $len($post.replies)
		</a>
	</div>
#end for

</body>
</html>
