<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>CUBoards</title>
		<link type="text/css" href="/static/jquery-ui-1.8.9.customFRONT.css" rel="stylesheet" />	
		<link type="text/css" href="/static/application.css" rel="stylesheet" />	
		<script type="text/javascript" src="/static/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui-1.8.9.custom.min.js"></script>
		<script type="text/javascript">
			jQuery(function(){
				// Accordion
				jQuery("#accordion").accordion({ header: "h3" });
			});
		</script>
	</head>
<body>
  <div id="header">
    <h1>CUBoard</h1>
    <p>A super fun place to chat with your friends during class (because there's nothing better to do).</p>
  </div>
  <div id="content">
    <form action="" method="post">
    <input type="text" name="message" id="" />
    <input type="submit" value="submit" />
    </form>
    <div id="accordion">
    #for $post in $posts:
    <div id="$post.post_id" class="post">
	    <h3>
	    $post.message
	    </h3>
      <div>
		    <ol>
		    #for $rep in $post.min_repls:
          <li>  
		        $rep
          </li>
		    #end for
        </ol>
        <p>
          <a href="/expand/$post.post_id">
          Replies: $len($post.replies)
          </a>
        </p>
      </div>
    </div>
    #end for
    </div>
  </div>
</body>
</html>
