<img src="../template/admin/image/icon/adminaccount_large.png" width="32" height="32" align="left" style="margin-right:20px;" />
    <h3>{$txt_admin_account}</h3>
    <form {$form.attributes}>
    <table class="c5t_admin_account">
      <tr>
        <td colspan="2" class="c5t_error_message">
          {foreach from=$message item=item}
            <div class="c5t_error_message_item">{$item}</div>
          {/foreach}              
        </td>
      </tr>
      {if $show_form == "yes"}
      <tr>
        <td>{$form.login_name.label}</td>
        <td>{$form.login_name.html} {if $form.login_name.error} <span class="c5t_error_message">{$form.login_name.error}</span> {/if}</td>
      </tr>
      <tr>
        <td>{$form.email.label}</td>
        <td>{$form.email.html} {if $form.email.error} <span class="c5t_error_message">{$form.email.error}</span> {/if}</td>
      </tr>
      <tr>
        <td>{$form.password.label}</td>
        <td>{$form.password.html} {if $form.password.error} <span class="c5t_error_message">{$form.password.error}</span> {/if}</td>
      </tr>
      <tr>
        <td>{$form.repeat.label}</td>
        <td>{$form.repeat.html} {if $form.repeat.error} <span class="c5t_error_message">{$form.repeat.error}</span> {/if}</td>
      </tr>
      <tr>
        <td></td>
        <td>{$form.save.html}</td>
      </tr> 
    {/if}
    </table>      
    </form>