<img src="../template/admin/image/icon/homepage_large.png" width="32" height="32" align="left" style="margin-right:20px;" /> 
<h3>{$txt_comment_script} {$version} - {$txt_admin_area}</h3>

<p style="width:80%;">{$txt_admin_area_help}</p>

<div class="c5t_admin_box_background">
<div class="c5t_admin_box">
    <h3>Webmaster Resources</strong></h3>
    
    <p style="margin:25px 0 0 0;"><strong><a href="http://www.gentlesource.com/" target="_blank">GentleSource PHP Scripts</a></strong></p>
    <p style="margin:8px 0 0 0;">
        Visit our website and check for updates of Comment Script and discover our other scripts. 
        <br />&raquo;&nbsp;<a href="http://www.gentlesource.com/" target="_blank">Take me there</a> 
    </p>
    
    <p style="margin:25px 0 0 0;"><strong><a href="http://www.text-link-ads.com/?ref=37444" target="_blank">Text Link Ads</a></strong></p>
    <p style="margin:8px 0 0 0;">
        Buy text link ads to improve your traffic and search engine rankings. 
        Publish simple text link ads on your site and make money.
        <br />&raquo;&nbsp;<a href="http://www.text-link-ads.com/?ref=37444" target="_blank">Take me there</a> 
    </p>
    
    <p style="margin:25px 0 0 0;"><strong><a href="http://www.shutterstock.com/gallery.mhtml?id=224&rid=224" target="_blank">Shutterstock</a></strong></p>
    <p style="margin:8px 0 0 0;">
        Subscription-based stock photo agency with a large collection of premium, royalty-free images.
        Buy images for your website or <a href="http://submit.shutterstock.com/?rid=224" target="_blank">sell your own photos</a>.
        <br />&raquo;&nbsp;<a href="http://www.shutterstock.com/gallery.mhtml?id=224&rid=224" target="_blank">Take me there</a> 
    </p>
</div>
</div>
