  <h3 title="{$comment_data.identifier_value}"><a href="./commentlist.php?i={$comment_data.identifier_id}">{$comment_data.identifier_output}</a></h3>
    
  
    <div class="c5t_link_button">
      <a href="./commentlistall.php">{$txt_latest_comments}</a>        
    </div>
   
   
    <div class="n2s_comment_item_admin_details">
        {$comment_data.comment_date} - {$comment_data.comment_time}
        - {$txt_author_ip_address}: {$comment_data.comment_author_ip}
        - <span title="{$comment_data.comment_author_host}">{$txt_author_hostname}: {$comment_data.hostname_output}</title>
        - <span title="{$comment_data.comment_author_user_agent}">{$txt_author_user_agent}: {$comment_data.user_agent_output}</title>
    </div>   
   
    
    
    {if $show_form == "yes"}

        <form {$form.attributes}>
          <table class="c5t_comment_form_table">

            <tr>
              <td colspan="2" class="c5t_error_message">
                {foreach from=$message item=item}
                  <div class="c5t_error_message_item">{$item}</div>
                {/foreach}              
              </td>
            </tr>
            
            <tr>
              <td class="c5t_comment_form_label">{$form.name.label}</td>
              <td class="c5t_comment_form_field">
                {if $form.name.error} <span class="c5t_error_message">{$form.name.error}</span> <br />{/if}
                {$form.name.html}
              </td>
            </tr>

            <tr>
              <td class="c5t_comment_form_label">
                {$form.email.label}
              </td>
              <td class="c5t_comment_form_field">
                {if $form.email.error} <span class="c5t_error_message">{$form.email.error}</span> <br />{/if}
                {$form.email.html}
              </td>
            </tr>

            <tr>
              <td class="c5t_comment_form_label">{$form.homepage.label}</td>
              <td class="c5t_comment_form_field">
                {$form.homepage.html}
              </td>
            </tr>

            <tr>
              <td class="c5t_comment_form_label">{$form.title.label}</td>
              <td class="c5t_comment_form_field">
                {$form.title.html}
              </td>
            </tr>

            <tr>
              <td></td>
              <td class="c5t_comment_form_field">
                {call_module trigger="backend_textarea" form="form" field=$comment_field_name}             
              </td>
            </tr>

            <tr>
              <td class="c5t_comment_form_label">
                {$form.$comment_field_name.label}
              </td>
              <td class="c5t_comment_form_field">
                {if $form.$comment_field_name.error} <span class="c5t_error_message">{$form.$comment_field_name.error}</span> <br />{/if}
                {$form.$comment_field_name.html}                
              </td>
            </tr>

            <tr>
              <td class="c5t_comment_form_label"></td>
              <td class="c5t_comment_form_submit">{$form.save.html}</td>
            </tr>

          </table>

        </form>

    {/if}