    
    <h3 title="{$identifier_data.identifier_value}"><a href="./commentlist.php?i={$identifier_data.identifier_id}">{$identifier_data.identifier_output}</a> ({$result_number})
      <span style="font-weight:bold;font-size:80%;"><a href="./commentlist.php?o=date&amp;i={$identifier_data.identifier_id}&amp;do=rename">{$txt_rename}</a></span>
    </h3>
    
    
    {if $show_rename_form == "yes"}    
    <div class="c5t_identifier_form">
    <form {$identifier_form.attributes}>
      {$identifier_form.hidden}
      {$identifier_form.identifier.label} {$identifier_form.identifier.html} &nbsp;&nbsp;&nbsp;
      {$identifier_form.rename.html}
    </form>
    {/if}
      
    
    {if $show_form == "yes"}
    <div class="c5t_identifier_form">
    <form {$identifier_form.attributes}>
      {$identifier_form.hidden}
      {$identifier_form.identifier_name.label} {$identifier_form.identifier_name.html} &nbsp;&nbsp;&nbsp;
      {$identifier_form.save.html}
      <span style="font-weight:bold;margin-left:30px;"><a href="./commentlist.php?o=date&amp;i={$identifier_data.identifier_id}&amp;{$query_date}">{$txt_order_by} {$txt_date}</a>{if $order_date == 1}&nbsp;<img src="../template/default/image/desc.gif" width="7" height="10" border="0" alt="">&nbsp;{elseif $order_date== 2}&nbsp;<img src="../template/default/image/asc.gif" width="7" height="10" border="0" alt="">&nbsp;{/if}</span>  
     
    </form>
    </div>
    {/if}
    
    <div class="c5t_web_page">{$txt_web_page}: <a href="{$identifier_data.identifier_url}" target="_blank">{$identifier_data.identifier_url}</a></div>
    
    <div class="c5t_search_form_background">
    <div class="c5t_search_form">
    <form {$form.attributes}>
    {$form.hidden}
    {$form.search_field.html}
    {$form.search_query.label} {$form.search_query.html}
    {$form.search.html}
    {$form.search_delete.html}
    </form>
    </div>
    </div>
    
    
    
    <div class="c5t_error_message" style="margin-top:20px;">
      {foreach from=$message item=item}
        <div class="c5t_error_message_item">{$item}</div>
      {/foreach}              
    </div>
    
    
    {if $delete_confirmation.dialogue == 1}
    <div class="c5t_confirmation_background">
    <div class="c5t_confirmation">
        <div class="c5t_confirmation_text">
          {$txt_sure_delete_comment}
        </div>
        <div class="c5t_confirmation_buttons">
          <a href="./commentlist.php?do=dc&amp;i={$delete_confirmation.identifier_id}&amp;c={$delete_confirmation.comment_id}#c5t_{$delete_confirmation.anchor}">{$txt_yes_sure}</a>
          <a href="./commentlist.php?i={$delete_confirmation.identifier_id}&amp;c={$delete_confirmation.comment_id}#c5t_{$delete_confirmation.comment_id}">{$txt_cancel}</a>
        </div>
    </div>
    </div>
    {/if}
    
    
    {if $delete_list_confirmation.dialogue == 1}

    <form name="commentlist" action="./commentlist.php?i={$identifier_data.identifier_id}" method="POST">
    
    {foreach from=$delete_list_confirmation.list item=item}
    <input type="hidden" name="delete_comment[]" value="{$item}" />
    {/foreach}
    
    <div class="c5t_confirmation_background">
    <div class="c5t_confirmation">
        <div class="c5t_confirmation_text">
          {$txt_sure_delete_comments}
        </div>
    <input type="submit" name="submit_delete_comments_c" value="{$txt_yes_sure}"/>
    <span class="c5t_link_submit_button"><a href="./commentlist.php">{$txt_cancel}</a></span>
    
    </div>  
    </div>
    </form>
    {/if}
    
    

    <div class="c5t_comment_list_admin">
        <form name="commentlist" action="./commentlist.php?i={$identifier_data.identifier_id}" method="POST">
        {foreach from=$comment_list item=item}
            <a name="c5t_{$item.comment_id}"></a>
            <div class="c5t_comment_item_admin_background">
            <div class="c5t_comment_item_admin">
                <div class="c5t_comment_item_admin_details">
                    <span title="{$txt_id}: {$item.comment_id}">#{$item.comment_number}</span> -
                    <a href="{$item.comment_author_homepage}">{$item.comment_author_name}</a> - {$item.comment_date} - {$item.comment_time}
                    - {$txt_author_ip_address}: {$item.comment_author_ip}
                    - <span title="{$item.comment_author_host}">{$txt_author_hostname}: {$item.hostname_output}</title>
                    - <span title="{$item.comment_author_user_agent}">{$txt_author_user_agent}: {$item.user_agent_output}</title>
                </div>
                <div class="c5t_comment_item_admin_title">{$item.comment_title}</div>
                <div class="c5t_comment_item_admin_text">{$item.frontend_text}</div>
                <div class="c5t_comment_item_admin_buttons">
                  <input type="checkbox" name="delete_comment[]" value="{$item.comment_id}" />
                  <a href="./commentlist.php?do=d&amp;i={$identifier_data.identifier_id}&amp;c={$item.comment_id}&amp;p={$item.previous_id}" onclick="return delete_comment('./commentlist.php?do=dc&amp;i={$identifier_data.identifier_id}&amp;c={$item.comment_id}#c5t_{$item.previous_id}');">{$txt_delete}</a> 
                  <a href="./comment.php?do=e&amp;i={$identifier_data.identifier_id}&amp;c={$item.comment_id}">{$txt_edit}</a>
                  {if $item.comment_status == $status_approved} 
                  <a href="./commentlist.php?do=da&amp;i={$identifier_data.identifier_id}&amp;c={$item.comment_id}#c5t_{$item.comment_id}">{$txt_disapprove}</a>
                  {else}
                  <a href="./commentlist.php?do=a&amp;i={$identifier_data.identifier_id}&amp;c={$item.comment_id}#c5t_{$item.comment_id}">{$txt_approve}</a>
                  {/if} 
                </div>
            </div>
            </div>
        {/foreach}
        
        <div class="c5t_confirmation_background">
        <div class="c5t_confirmation">
        <input type="submit" name="submit_delete_comments" value="{$txt_delete_comments}"/>
        <input type="checkbox" name="checkall" value="{$txt_check_all}" onclick="check_all(document.commentlist, this);"/> {$txt_check_all}
        </div>
        </div>

        </form>
    </div>


    <div class="c5t_pagination">
      {if $browse_previous == 2}
        <a href="./commentlist.php?page=1&i={$identifier_data.identifier_id}">{$txt_start}</a>
        <a href="./commentlist.php?{$query_previous}&i={$identifier_data.identifier_id}">&laquo;&nbsp;{$txt_previous_page}</a>
      {else}
        <span>{$txt_start}</span>
        <span>&laquo;&nbsp;{$txt_previous_page}</span>
      {/if}
      
      {if $browse_next == 2}
        <a href="./commentlist.php?{$query_next}&i={$identifier_data.identifier_id}">{$txt_next_page}&nbsp;&raquo;</a>
        <a href="./commentlist.php?page={$result_pages}&i={$identifier_data.identifier_id}">{$txt_end}</a>
      {else}
        <span>{$txt_next_page}&nbsp;&raquo;</span>
        <span>{$txt_end}</span>
      {/if}
    </div>
    

    <div class="c5t_results_per_page">
      {$txt_results_per_page} 
      <a href="./commentlist.php?limit=10&i={$identifier_data.identifier_id}">10</a>
      <a href="./commentlist.php?limit=20&i={$identifier_data.identifier_id}">20</a>
      <a href="./commentlist.php?limit=30&i={$identifier_data.identifier_id}">30</a>
      <a href="./commentlist.php?limit=40&i={$identifier_data.identifier_id}">40</a>
      <a href="./commentlist.php?limit=50&i={$identifier_data.identifier_id}">50</a>
      <a href="./commentlist.php?limit=60&i={$identifier_data.identifier_id}">60</a>
      <a href="./commentlist.php?limit=70&i={$identifier_data.identifier_id}">70</a>
      <a href="./commentlist.php?limit=80&i={$identifier_data.identifier_id}">80</a>
      <a href="./commentlist.php?limit=90&i={$identifier_data.identifier_id}">90</a>
      <a href="./commentlist.php?limit=100&i={$identifier_data.identifier_id}">100</a>
      <a href="./commentlist.php?limit=150&i={$identifier_data.identifier_id}">150</a>
    </div>