<img src="../template/admin/image/icon/configuration_large.png" width="32" height="32" align="left" style="margin-right:20px;" />
    <h3>{$txt_configuration}</h3>



<table class="c5t_configuration_list">
<tr>
  <td class="c5t_configuration_list_label"><a href="./setting.php">{$txt_general_settings}</a></td>
  <td></td>
</tr>
{foreach from=$module_list item=item}
<tr>
  <td class="c5t_configuration_list_label"><a href="./module.php?m={$item.module}">{$item.name}</a></td>
  <td>{$item.description}</td>
</tr>
{/foreach}    
</table>

