
{if $display_language_selection == 'Y'}
    <div id="c5t_language_selector">
        {$txt_select_language}
        
        {if $language_selector_mode == 'links'}
            {foreach from=$available_languages key=key item=item}
              <a href="{$script_url}?c5t_language_selector={$key}&amp;r={$page_url_encoded}">{$item}</a>
            {/foreach}
        {/if}
        
        
        {if $language_selector_mode == 'form'}
            <form action="{$script_url}" method="post">
            <input type="hidden" name="r" value="{$page_url_encoded}" />
            <select name="c5t_language_selector">
            {foreach from=$available_languages key=key item=item}
              <option value="{$key}">{$item}</a>
            {/foreach}
            </select>
            <input type="submit" name="change_language" value="{$txt_go}" />
            </form>
        {/if}
    </div>
{/if}
