    <div class="c5t_login_background">
    <form {$form.attributes}>
    {$form.hidden}
    <table class="c5t_login">
      <tr>
        <td colspan="2">
          {$txt_reset_password_text}              
        </td>
      </tr>
      <tr>
        <td colspan="2" class="c5t_error_message">
          {foreach from=$message item=item}
            <div class="c5t_error_message_item">{$item}</div>
          {/foreach}              
        </td>
      </tr>
      {if $show_form}
      <tr>
        <td>{$form.password.label}</td>
        <td>
            {if $form.password.error} <span class="c5t_error_message">{$form.password.error}</span><br />{/if}
            {$form.password.html}
        </td>
      </tr>
      <tr>
      <tr>
        <td>{$form.repeat.label}</td>
        <td>
            {if $form.repeat.error} <span class="c5t_error_message">{$form.repeat.error}</span><br />{/if}
            {$form.repeat.html}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>{$form.save.html}</td>
      </tr>
      {else}
      <tr>
        <td colspan="2">
          <a href="./">{$txt_login_form}</a>              
        </td>
      </tr>
      {/if}
    </table>      
    </form>
    </div>