    <img src="../template/admin/image/icon/configuration_large.png" width="32" height="32" align="left" style="margin-right:20px;" />
    <h3>{$txt_configuration}</h3>
    
    
    
    
    <form {$form.attributes}>
    {$form.hidden}
    

    <fieldset class="c5t_setting_form">
      <legend>{$txt_general_settings}</legend>
      
      
        <div class="c5t_error_message">
          {foreach from=$message item=item}
            <div class="c5t_error_message_item">{$item}</div>
          {/foreach}              
        </div>
      
      
        <table class="c5t_setting">
          
          <tr>
            <td class="c5t_setting_form_label">{$form.default_language.label}</td>
            <td>{$form.default_language.html}</td>
          </tr>        
          
          <tr>
            <td class="c5t_setting_form_label">{$form.display_comments.label}</td>
            <td>{$form.display_comments.html}</td>
          </tr>
          
          <tr>
            <td class="c5t_setting_form_label">{$form.display_comment_form.label}</td>
            <td>{$form.display_comment_form.html}</td>
          </tr>
          
          <tr>
            <td class="c5t_setting_form_label">{$form.display_turn_off_messages.label}</td>
            <td>{$form.display_turn_off_messages.html}</td>
          </tr>
          
          <tr>
            <td class="c5t_setting_form_label">{$form.page_registration.label}</td>
            <td>{$form.page_registration.html}</td>
          </tr>
          
          <tr>
            <td class="c5t_setting_form_label">{$form.script_url.label}</td>
            <td>{$form.script_url.html}</td>
          </tr>
          
          <tr>
            <td class="c5t_setting_form_label">{$form.frontend_result_number.label}</td>
            <td>{$form.frontend_result_number.html} {$txt_frontend_result_help}
               <br /><span class="c5t_error_message">{if $form.frontend_result_number.error} {$form.frontend_result_number.error}</span>{/if}
            </td>
          </tr>
          
          <tr>
            <td class="c5t_setting_form_label">{$form.frontend_order.label}</td>
            <td>{$form.frontend_order.html}</td>
          </tr>  
          
          <tr>
            <td class="c5t_setting_form_label">{$form.enable_moderation.label}</td>
            <td>{$form.enable_moderation.html}</td>
          </tr> 
          
          <tr>
            <td class="c5t_setting_form_label">{$form.publish_delay.label}</td>
            <td>
            {$txt_publish_delay_help}<br /><br />
            {$form.publish_delay.html}
            <br /><span class="c5t_error_message">{if $form.publish_delay.error} {$form.publish_delay.error}</span>{/if}
            </td>
          </tr> 
                            
          <tr>
            <td class="c5t_setting_form_label"></td>
            <td>{$form.save.html}</td>
          </tr>
          
        </table>
    </fieldset>
    
    
    <fieldset class="c5t_setting_form">
      <legend>{$txt_miscellaneous}</legend>
        <table class="c5t_setting">
                 
          <tr>
            <td colspan="2">{$txt_c5t_root_note}</td>
          </tr> 
                  
          <tr>
            <td class="c5t_setting_form_label">C5T_ROOT</td>
            <td>{$script_server_path}</td>
          </tr>
                  
            
        </table>
    </fieldset>
    
    
    </form>