    
    <h3>{$txt_update}</h3>
    
    <p>{$txt_update_description}</p>
    
    
    <div class="c5t_error_message">
      {foreach from=$message item=item}
        <div class="c5t_error_message_item">{$item}</div>
      {/foreach}              
    </div>
    
    
    {if $show_form}
    <form {$form.attributes}>
    {$form.hidden}
    
    <fieldset class="c5t_installation_form">
      <legend>{$txt_step_one} - {$txt_database_access_data}</legend>
        <table class="c5t_installation">
                  
          <tr>
            <td class="c5t_installation_form_label">{$form.hostname.label}</td>
            <td>{$form.hostname.html} {if $form.hostname.error} <span class="c5t_error_message">{$form.hostname.error}</span> {/if}</td>
          </tr>
          
          <tr>
            <td class="c5t_installation_form_label">{$form.database.label}</td>
            <td>{$form.database.html} {if $form.database.error} <span class="c5t_error_message">{$form.database.error}</span> {/if}</td>
          </tr>
          
          <tr>
            <td class="c5t_installation_form_label">{$form.username.label}</td>
            <td>{$form.username.html} {if $form.username.error} <span class="c5t_error_message">{$form.username.error}</span> {/if}</td>
          </tr>
          
          <tr>
            <td class="c5t_installation_form_label">{$form.dbpassword.label}</td>
            <td>{$form.dbpassword.html} {if $form.dbpassword.error} <span class="c5t_error_message">{$form.dbpassword.error}</span> {/if}</td>
          </tr>
          
        </table>
    </fieldset>
    
    <fieldset class="c5t_installation_form">
      <legend>{$txt_step_two} - {$txt_admin_account}</legend>
        <table class="c5t_login">        
          
          <tr>
            <td class="c5t_installation_form_label">{$form.login_name.label}</td>
            <td>{$form.login_name.html} {if $form.login_name.error} <span class="c5t_error_message">{$form.login_name.error}</span> {/if}</td>
          </tr>
          
          <tr>
            <td class="c5t_installation_form_label">{$form.password.label}</td>
            <td>{$form.password.html} {if $form.password.error} <span class="c5t_error_message">{$form.password.error}</span> {/if}</td>
          </tr>
          
        </table>
    </fieldset>
    
    <fieldset class="c5t_installation_form">
      <legend>{$txt_step_three} - {$txt_finish_update}</legend>
        <table class="c5t_login">        

          <tr>
            <td class="c5t_installation_form_label"></td>
            <td>{$form.update.html}</td>
          </tr>
        </table>
    </fieldset>
    
    </form>
    {else}      
      <a href="./">{$txt_login_form}</a>  
    {/if}