<div class="n2s_social_links">
  {$txt_post_this_page}:
  
  <a href="http://twitter.com/home?status={$page_title}:+{$page_url}" target="_blank"><img src="{$image_path}twitter.png" border="0" width="16" height="16" alt="Twitter" title="Post to Twitter" /></a>    
  <a href="http://del.icio.us/post?url={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}delicious.png" border="0" width="16" height="16" alt="del.icio.us" title="Post to del.icio.us" /></a>    
  <a href="http://myweb2.search.yahoo.com/myresults/bookmarklet?t={$page_title}&amp;u={$page_url}" target="_blank"><img src="{$image_path}y.png" border="0" width="16" height="16" alt="Yahoo! MyWeb" title="Post to Yahoo! MyWeb" /></a> 
  <a href="http://www.stumbleupon.com/submit?url={$page_url}&amp;title={$page_title}&amp;newcomment={$page_title}" target="_blank"><img src="{$image_path}stumbleupon.png" border="0" width="16" height="16" alt="StumbleUpon" title="StumbleUpon" /></a>
  <a href="http://furl.net/storeIt.jsp?t={$page_title}&amp;u={$page_url}" target="_blank"><img src="{$image_path}furl.png" border="0" width="16" height="16" alt="Furl" title="Furl" /></a>
  <a href="http://www.blinklist.com/index.php?Action=Blink/addblink.php&amp;Description=&amp;Url={$page_url}&amp;Title={$page_title}" target="_blank"><img src="{$image_path}blinklist.png" border="0" width="16" height="16" alt="Blinklist" title="Blinklist" /></a>
  <a href="http://www.spurl.net/spurl.php?title={$page_title}&amp;url={$page_url}" target="_blank"><img src="{$image_path}spurl.png" border="0" width="16" height="16" alt="Spurl" title="Spurl" /></a>
  <a href="http://www.google.com/bookmarks/mark?op=add&amp;hl=en&amp;bkmk={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}google.png" border="0" width="16" height="16" alt="Google" title="Google" /></a>  
  <!--
  <a href="http://ma.gnolia.com/beta/bookmarklet/add?url={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}magnolia.png" border="0" width="16" height="16" alt="Magnolia" title="Magnolia" /></a>
  <a href="http://simpy.com/simpy/LinkAdd.do?href={$page_url}&amp;title={$page_title}&amp;v=6&amp;src=bookmarklet" target="_blank"><img src="{$image_path}simpy.png" border="0" width="16" height="16" alt="Simpy" title="Simpy" /></a>
  <a href="http://blogmarks.net/my/marks,new?mini=1&amp;title={$page_title}&amp;url={$page_url}" target="_blank"><img src="{$image_path}blogmarks.png" border="0" width="16" height="16" alt="Blogmarks" title="Blogmarks" /></a>
  <a href="http://www.netvouz.com/action/submitBookmark?url={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}netvouz.png" border="0" width="16" height="16" alt="Netvouz" title="Netvouz" /></a>
  
  <a href="http://www.startaid.com/index.php?st=AddBrowserLink&amp;type=Detail&amp;v=3&amp;urlname={$page_url}&amp;urltitle={$page_title}" target="_blank"><img src="{$image_path}startaid.png" border="0" width="16" height="16" alt="Startaid" title="Startaid" /></a>
  <a href="http://www.facebook.com/sharer.php?u={$page_url}&amp;t={$page_title}" target="_blank"><img src="{$image_path}facebook.png" border="0" width="16" height="16" alt="Facebook" title="Facebook" /></a>
  <a href="http://www.shadows.com/shadow/?page={$page_url}" target="_blank"><img src="{$image_path}shadows.png" border="0" width="16" height="16" alt="Shadows" title="Shadows" /></a>
  <a href="http://smarking.com/editbookmark/?url={$page_url}" target="_blank"><img src="{$image_path}smarking.png" border="0" width="16" height="16" alt="Smarking" title="Smarking" /></a>
  <a href="http://www.rawsugar.com/tagger/?turl={$page_url}&amp;tttl={$page_title}" target="_blank"><img src="{$image_path}rawsugar.png" border="0" width="16" height="16" alt="RawSugar" title="RawSugar" /></a>
  -->
  
  <a href="http://technorati.com/faves?add={$page_url}" target="_blank"><img src="{$image_path}technorati.png" border="0" width="16" height="16" alt="Technorati" title="Technorati" /></a>
  <a href="http://digg.com/submit?phase=2&amp;url={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}digg.png" border="0" width="16" height="16" alt="Digg" title="Digg" /></a>
  <a href="http://reddit.com/submit?url={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}reddit.png" border="0" width="16" height="16" alt="reddit" title="reddit" /></a>
  <a href="http://www.rojo.com/submit/?title={$page_title}&amp;url={$page_url}" target="_blank"><img src="{$image_path}rojo.png" border="0" width="16" height="16" alt="Rojo" title="Rojo" /></a>
  <a href="http://www.addthis.com/bookmark.php?pub=&amp;url={$page_url}&amp;title={$page_title}" target="_blank"><img src="http://www.addme.com/images/button1-bm.gif" width="125" height="16" border="0" alt="Add This!" title="Add This!" /></a>
  
  <!-- German -->
  <!--
  <a href="http://www.mister-wong.de/index.php?action=addurl&amp;bm_url={$page_url}&amp;bm_description={$page_title}" target="_blank"><img src="{$image_path}mrwong.png" border="0" width="16" height="16" alt="Mister Wong" title="Mister Wong" /></a>
  <a href="http://yigg.de/neu?exturl={$page_url}&amp;exttitle={$page_title}" target="_blank"><img src="http://yigg.de/images/yiggit.png" title="Yigg" alt="Yigg" border="0" /></a>
  <a href="http://www.webnews.de/einstellen?url={$page_url}&amp;title={$page_title}" target="_blank"><img src="http://www.webnews.de/pics/webnews_icon.gif" alt="Webnews" title="Webnews" border="0" /></a>
  <a href="http://tausendreporter.stern.de/submit.php?url={$page_url}" target="_blank"><img src="{$image_path}tausendreporter.png" alt="Tausendreporter" title="Tausendreporter"  border="0" /></a>
  <a href="http://www.oneview.de/quickadd/neu/addBookmark.jsf?URL={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}oneview.gif" alt="OneView" title="OneView"  border="0" /></a>
  <a href="http://www.shortnews.de/submitsource.cfm?source={$page_url}" target="_blank"><img src="{$image_path}sn.gif" alt="ShortNews" title="ShortNews"  border="0" /></a>
  <a href="http://linkarena.com/bookmarks/addlink/?url={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}linkarena.png" border="0" width="16" height="16" alt="LinkArena" title="LinkArena" /></a>
  <a href="http://www.google.com/bookmarks/mark?op=add&hl=de&bkmk={$page_url}&amp;title={$page_title}" target="_blank"><img src="{$image_path}google.png" border="0" width="16" height="16" alt="Google" title="Google" /></a>
  <a href="http://www.folkd.com/submit/{$page_url}" target="_blank"><img src="{$image_path}folkd.png" alt="folkd.com" title="folkd.com" border="0" /></a>
  <a href="http://www.stumbleupon.com/submit?url={$page_url}&amp;title={$page_title}&amp;newcomment={$page_title}" target="_blank"><img src="{$image_path}stumbleupon.png" border="0" width="16" height="16" alt="StumbleUpon" title="StumbleUpon" /></a>
  -->
  
</div>


